@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root{
  --ff-instrument-serif:'Instrument Serif', serif;
 --ff-monntserrat:'Montserrat', sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body{
  width: 70vw;
  height: 100vh;

  
}


/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header{
  width: 100vw;
  height: 18vh;
 font-size: 1rem;
 font-weight: 400;
 background-color: aquamarine;
 text-align: center;
}
.card{
 
}

.title-container-one{
  background-image: url('/asset/images/cdc-dispatch22_1440_1200.jpg');
  width: 100vw;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain; 
  gap: 0;
  
}

.title-container-two{
  background-image: url('/asset/images/pcd-dispatch5_1440_12004.jpg');
  width: 100vw;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -7.5rem;

}
.container-name{
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-monntserrat);
  font-weight: 400;
  margin: auto;
  color: white;

}

.container-name-two{
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-monntserrat);
  font-weight: 400;
  margin: auto;
  color: whitesmoke;
}
.footer-container{
  width: 100vh;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(216, 204, 204);

}

.news-letter{
  padding: 1rem;
  
}
@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {

  
}

/* Large devices (desktops) */

@media (min-width: 991px) {
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
